page-veg-detail {

}
ion-slides{
    height: initial;
}
desc{
    margin-top: 15px;
    font-size: 25px;
}
.bold{
    font-weight: bold;
    font-size: 25px;
}
.buy-for{
    font-size:20px;
    margin-bottom: 0%;
}

.plus-button{
    width: 50px;
    height: 25px;
}

.col{
    width: 50px;
}